
.midd{
    display: flex;
    align-items: center;
}

.icon{
    color: #037c03a6;
}

.round{
  height: 60px !important;
  width: 80px !important;
}


.slide-vertical{
    display: flex;
    flex-direction: column;
}


.icon-left{
 font-size: 32px;
  color: rgb(250, 246, 246);
}

.icon-right{
   font-size: 32px;
    color: rgb(253, 252, 252);
}


.card-margin {
  margin-top: 5px;
  margin-bottom: 5px;
}

.sub-header-slide{
  color: #fff;
  display: flex;
  justify-content: space-between;
  background: blue;
  align-items: center;
}

.footer{
    position: fixed;
    bottom:0;
    height: 10%;
    z-index:999;
    background-color: #f4f4f4;
    width: 100%;
    overflow-x: scroll;
}