<ion-header>
  <ion-toolbar>
      <ion-back-button text=""></ion-back-button>
      <ion-title>details</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <ion-buttons slot="start">
    <ion-back-button></ion-back-button>

  </ion-buttons> -->
  <div class="sub-header-slide">
    <ion-icon (click)="previousSlide()" class="icon-left" name="md-arrow-dropleft"></ion-icon>
    <p>
      Slide
    </p>
    <ion-icon (click)="nextSlide()" class="icon-right" name="md-arrow-dropright"></ion-icon>
  </div>
  <ion-slides #slider effect="fade" (ionSlideWillChange)="onSlideChanged()">
    <ion-slide class="slide-vertical">
      <p>Video Gallery</p>
    </ion-slide>
    <ion-slide class="slide-vertical">
      <!-- <h2>{{slide.title}}</h2> -->
      <ion-card style="width:90%;" class="card-margin">
        <ion-grid>
          <ion-row>
            <ion-col size="4">
              <p style="color:green;">adasdd</p>
            </ion-col>
            <ion-col class="midd" size="1">
              <ion-icon class="icon" name="wifi"></ion-icon>
              <!-- <ion-icon  class="icon"ios="ios-radio-button-on" md="md-radio-button-on"></ion-icon> -->
            </ion-col>
            <ion-col class="midd" size="6">
              <p>Admin</p>
            </ion-col>
            <ion-col class="midd" size="1">
              <ion-icon ios="ios-alarm" md="md-alarm"></ion-icon>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="midd" size="4">
              <img class="round" src="../../assets/images/a.jpg" height="60px;" width="80px;" />
            </ion-col>
            <ion-col>
              <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eget. </h4>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card>

      <ion-card style="width:90%;" class="card-margin">
        <ion-grid>
          <ion-row>
            <ion-col>
              <p style="color:green;">swds</p>
            </ion-col>
            <ion-col class="midd" size="1">
              <ion-icon class="icon" name="wifi"></ion-icon>
              <!-- <ion-icon  class="icon"ios="ios-radio-button-on" md="md-radio-button-on"></ion-icon> -->
            </ion-col>
            <ion-col class="midd" size="6">
              <p>Admin</p>
            </ion-col>
            <ion-col class="midd" size="1">
              <ion-icon ios="ios-alarm" md="md-alarm"></ion-icon>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="midd" size="4">
              <img class="round" src="../../assets/images/a.jpg" height="60px;" width="80px;" />
            </ion-col>
            <ion-col>
              <h4>sdsd </h4>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card>



    </ion-slide>



    <ion-slide class="slide-vertical">
      <!-- <h2>{{slide.title}}</h2> -->
      <ion-card style="width:90%;" class="card-margin">
        <ion-grid>
          <ion-row>
            <ion-col size="7">
              <p style="color:green;">Phenterime For Weight Loss</p>
            </ion-col>
            <ion-col class="midd" size="1">
              <ion-icon class="icon" name="flask"></ion-icon>
              <!-- <ion-icon  class="icon"ios="ios-radio-button-on" md="md-radio-button-on"></ion-icon> -->
            </ion-col>
            <ion-col class="midd" size="3">
              <p>Admin</p>
            </ion-col>
            <ion-col class="midd" size="1">
              <ion-icon ios="ios-alarm" md="md-alarm"></ion-icon>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="midd" size="4">
              <img class="round" src="../../assets/images/a.jpg" height="60px;" width="80px;" />
            </ion-col>
            <ion-col>
              <h4>Phenterime success stories:Steve's 48 pound weight loss</h4>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card>

      <ion-card style="width:90%;" class="card-margin">
        <ion-grid>
          <ion-row>
            <ion-col size="7">
              <p style="color:green;">Phenterime For Weight Loss</p>
            </ion-col>
            <ion-col class="midd" size="1">
              <ion-icon class="icon" name="flask"></ion-icon>
              <!-- <ion-icon  class="icon"ios="ios-radio-button-on" md="md-radio-button-on"></ion-icon> -->
            </ion-col>
            <ion-col class="midd" size="3">
              <p>Admin</p>
            </ion-col>
            <ion-col class="midd" size="1">
              <ion-icon ios="ios-alarm" md="md-alarm"></ion-icon>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="midd" size="4">
              <img class="round" src="../../assets/images/a.jpg" height="60px;" width="80px;" />
            </ion-col>
            <ion-col>
              <h4>Phenterime success stories:Steve's 48 pound weight loss</h4>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card>


      <ion-card style="width:90%;" class="card-margin">
        <ion-grid>
          <ion-row>
            <ion-col size="7">
              <p style="color:green;">Phenterime For Weight Loss</p>
            </ion-col>
            <ion-col class="midd" size="1">
              <ion-icon class="icon" name="flask"></ion-icon>
              <!-- <ion-icon  class="icon"ios="ios-radio-button-on" md="md-radio-button-on"></ion-icon> -->
            </ion-col>
            <ion-col class="midd" size="3">
              <p>Admin</p>
            </ion-col>
            <ion-col class="midd" size="1">
              <ion-icon ios="ios-alarm" md="md-alarm"></ion-icon>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="midd" size="4">
              <img class="round" src="../../assets/images/a.jpg" height="60px;" width="80px;" />
            </ion-col>
            <ion-col>
              <h4>Phenterime success stories:Steve's 48 pound weight loss</h4>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card>

    </ion-slide>

    <ion-slide class="slide-vertical">
      <!-- <h2>{{slide.title}}</h2> -->
      <ion-card style="width:90%;" class="card-margin">
        <ion-grid>
          <ion-row>
            <ion-col size="4">
              <p style="color:green;">Weight Loss</p>
            </ion-col>
            <ion-col class="midd" size="1">
              <ion-icon class="icon" name="wifi"></ion-icon>
              <!-- <ion-icon  class="icon"ios="ios-radio-button-on" md="md-radio-button-on"></ion-icon> -->
            </ion-col>
            <ion-col class="midd" size="6">
              <p>Admin</p>
            </ion-col>
            <ion-col class="midd" size="1">
              <ion-icon ios="ios-alarm" md="md-alarm"></ion-icon>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="midd" size="4">
              <img class="round" src="../../assets/images/a.jpg" height="60px;" width="80px;" />
            </ion-col>
            <ion-col>
              <h4> 37 Experts Revael Their #1 Weight Loss Motivation Tip </h4>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card>


      <ion-card style="width:90%;" class="card-margin">
        <ion-grid>
          <ion-row>
            <ion-col size="4">
              <p style="color:green;">Weight Loss</p>
            </ion-col>
            <ion-col class="midd" size="1">
              <ion-icon class="icon" name="wifi"></ion-icon>
              <!-- <ion-icon  class="icon"ios="ios-radio-button-on" md="md-radio-button-on"></ion-icon> -->
            </ion-col>
            <ion-col class="midd" size="6">
              <p>Admin</p>
            </ion-col>
            <ion-col class="midd" size="1">
              <ion-icon ios="ios-alarm" md="md-alarm"></ion-icon>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="midd" size="4">
              <img class="round" src="../../assets/images/a.jpg" height="60px;" width="80px;" />
            </ion-col>
            <ion-col>
              <h4> 37 Experts Revael Their #1 Weight Loss Motivation Tip </h4>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card>



    </ion-slide>

    <ion-slide class="slide-vertical">
      <!-- <h2>{{slide.title}}</h2> -->
      <ion-card style="width:90%;" class="card-margin">
        <ion-grid>
          <ion-row>
            <ion-col size="4">
              <p style="color:green;">Dr. christoper, MD</p>
            </ion-col>
            <ion-col class="midd" size="1">
              <ion-icon class="icon" name="wifi"></ion-icon>
              <!-- <ion-icon  class="icon"ios="ios-radio-button-on" md="md-radio-button-on"></ion-icon> -->
            </ion-col>
            <ion-col class="midd" size="6">
              <p>Admin</p>
            </ion-col>
            <ion-col class="midd" size="1">
              <ion-icon ios="ios-alarm" md="md-alarm"></ion-icon>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="midd" size="4">
              <img class="round" src="../../assets/images/a.jpg" height="60px;" width="80px;" />
            </ion-col>
            <ion-col>
              <h4> Dr.Christoper L.puempel,MD </h4>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card>

      <ion-card style="width:90%;" class="card-margin">
        <ion-grid>
          <ion-row>
            <ion-col size="4">
              <p style="color:green;">Dr. christoper, MD</p>
            </ion-col>
            <ion-col class="midd" size="1">
              <ion-icon class="icon" name="wifi"></ion-icon>
              <!-- <ion-icon  class="icon"ios="ios-radio-button-on" md="md-radio-button-on"></ion-icon> -->
            </ion-col>
            <ion-col class="midd" size="6">
              <p>Admin</p>
            </ion-col>
            <ion-col class="midd" size="1">
              <ion-icon ios="ios-alarm" md="md-alarm"></ion-icon>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="midd" size="4">
              <img class="round" src="../../assets/images/a.jpg" height="60px;" width="80px;" />
            </ion-col>
            <ion-col>
              <h4> Dr.Christoper L.puempel,MD </h4>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card>
    </ion-slide>

    <ion-slide class="slide-vertical">
      <p>General </p>
    </ion-slide>
  </ion-slides>
  <app-footer class="footer">

  </app-footer>
</ion-content>