<div class="flex-container">
  <div (click)="goToPage('home');">
    <ion-icon name="exit"></ion-icon>
    <p>Home</p>
  </div>
  <div (click)="goToPage('home');">
    <ion-icon name="exit"></ion-icon>
    <p>BMI Calculator</p>
  </div>
  <div (click)="goToPage('image-category');">
    <ion-icon name="exit"></ion-icon>
    <p>Success Stories</p>
  </div>

  <div (click)="goToPage('events-category');">
    <ion-icon name="exit"></ion-icon>
    <p>ClinicalProfile</p>
  </div>
</div>