.flex-container {
    display:flex;
    justify-content: start;
    flex-direction: row;
    align-items: center !important;
    overflow-x: scroll;
    width: 100%;
}

  
  .flex-container > div {
    color: black;
    width: 25vw !important;
    text-align: center;
    align-items: center;
    font-size: 15px;
  }

  ion-icon {
    font-size: 250%; 
}
  p{
      margin:0;
      font-size: 3vw;
  }