<ion-content>    
  <ion-button color="dark" class="close-icon" (click)="dismiss()">
    <ion-icon name="close"></ion-icon>
  </ion-button>
  <img src="../../assets/images/a.jpg" class="img-margin" alt="The Pulpit Rock">
</ion-content>