.close-icon{
    position: absolute;
    margin-top: 2%;
    margin-left: 82%;
    z-index: 999;
    display: transparent;
    --border-radius: 10px !important;
    --height: 40px;
    --padding-start: 0.7em;
    --padding-end:0.7em;
}
.close-icon ion-icon{
    color: white;
    width: 1.5em;
    height: 1.5em;
}
img{
    height: 100%;
    width: 100%;
}