<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
        
      </ion-title>
    </ion-toolbar>
  </ion-header>
<ion-content>
  <!-- <ion-row class="custom-segment">
        <ion-col [ngClass]="{'segment-title': active === true}" (click)="segmentChanged('contact us')">
          Contact Us
        </ion-col>
        <ion-col [ngClass]="{'segment-title': active === true}">
          Contact Form
        </ion-col>
      </ion-row> -->

  <ion-segment class="segment" [(ngModel)]="segment" (ionChange)="segmentChanged(segment)" color="danger">
    <ion-segment-button class="segment-button" value="ContactUs">
      Contact Us
    </ion-segment-button>
    <ion-segment-button class="segment-button" value="ContactForm">
      Contact form
    </ion-segment-button>
  </ion-segment>

  <div padding *ngIf="segment=='ContactUs'">
    <ion-grid>
      <ion-row class="contact-types">
        <ion-col size="2">
          <ion-icon class="icon" name="home"></ion-icon>
        </ion-col>
        <ion-col size="10">
          some text
        </ion-col>
      </ion-row>
      <ion-row class="contact-types">
        <ion-col size="2">
          <ion-icon class="icon" name="home"></ion-icon>
        </ion-col>
        <ion-col size="10">
          some text
        </ion-col>
      </ion-row>
      <ion-row class="contact-types">
        <ion-col size="2">
          <ion-icon class="icon" name="home"></ion-icon>
        </ion-col>
        <ion-col size="10">
          some text
        </ion-col>

      </ion-row>
    </ion-grid>
    <div #map id="map"></div>
  </div>
  <div padding *ngIf="segment=='ContactForm'">
    <div class="form-list">
      <div class="form-item">
        <ion-input placeholder="Full Name"></ion-input>
      </div>
      <div class="form-item">
        <ion-input placeholder="Enter Input"></ion-input>
      </div>
      <div class="form-item">
        <ion-input placeholder="Enter Input"></ion-input>
      </div>
      <div class="form-end-item">
        <ion-input placeholder="Enter Input"></ion-input>
      </div>

    </div>
    <ion-button class="submit-button" color="danger" expand="full">Submit</ion-button>
  </div>

</ion-content>