.segment{
    margin: 2%;
    width:96%;
    // border-style: none !important;
}
.segment-button{
    
    // border-style: none !important;
    // border : 1px solid #888888;
    // border-radius: 4px;
}

.contact-types:nth-child(2n+1){
    padding: 5%;
    border:1px solid #cccccc;
}
.contact-types:nth-child(2n){
    padding: 5%;
    border-left: 1px solid #cccccc;
    border-right: 1px solid #cccccc; 
}
.icon{
    height: 2em !important;
    width: 2em !important;
}
.form-list{
    border:1px solid #cccccc;
}

.form-item{
    border-bottom: 1px solid #cccccc;
    padding: 4% 2% 1% 3%;
}

.form-end-item{
    border-bottom: 1px solid #cccccc;
    padding: 4% 2% 1% 3%;
}

.submit-button{
    margin-top:13%;
}
#map{
    height: 40%;
    width:100%;
}