.flex-inline {
    display: flex;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: center;
    height: 30%;
    margin-top: 0.5%;
  }
 .image-container {
    height: 50%;
    width: 31%;
    margin: 1%;
    background: url('../../assets/images/a.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }
  .footer{
    position: fixed;
    bottom:0;
    height: 10%;
    z-index:999;
    background-color: #f4f4f4;
    width: 100%;
    overflow-x: scroll;
}