<ion-header>
  <ion-toolbar>
    <ion-back-button text=""></ion-back-button>
    <ion-title>
      Photo gallery
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="height:90%; overflow:scroll;">
    <div class=flex-inline>
      <!-- <figure class="figure2"> -->
      <div class="image-container" (click)="presentModal()"> </div>
      <div class="image-container"> </div>
      <div class="image-container"> </div>
      <div class="image-container"> </div>
      <div class="image-container"> </div>
      <div class="image-container"> </div>
      <div class="image-container"> </div>
      <div class="image-container"> </div>
      <div class="image-container"> </div>

    </div>
  </div>
  <app-footer class="footer"></app-footer>
</ion-content>