<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
        Header0
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <img class="image" src="../../assets/images/a.jpg" />
  </ion-content>
