.footer{
    position: fixed;
    bottom:0;
    height: 10%;
    z-index:999;
    background-color: #f4f4f4;
    width: 100%;
    overflow-x: scroll;
}
.flex-inline {
    display: flex;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: flex-start;
    height: 40%;
  }

  .image-container {
    position:relative;
    height: 50vw;
    width: 50vw;
    padding:0;
    margin:0;
    background-color: yellow;
    
  }

  .textOverlay  {
      height: 100%;
      width: 100%;
      background-image: linear-gradient(to bottom, white, blue);
  }
  .textOverlay h1{
    position: absolute;
    width:100%;
    text-align: center; 
    bottom: 10px;
    font-weight: 1000;
    font-size:8vw;
    color: #f4f4f4;
  }