<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
        header
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
      <div class=flex-inline>
          <div class="image-container" (click)="goToPage('weight-loss-secrets-detail')">
            <div class="textOverlay">
              <h1>hello</h1>
            </div>
          </div>
          <div class="image-container">
            <div class="textOverlay">
              <h1>hello</h1>
            </div>
          </div>
          <div class="image-container">
            <div class="textOverlay">
              <h1>hello</h1>
            </div>
          </div>
          <div class="image-container">
            <div class="textOverlay">
              <h1>hello</h1>
            </div>
          </div>
          <div class="image-container">
            <div class="textOverlay">
              <h1>hello</h1>
            </div>
          </div>
      
          <!-- <figure class="figure2">
                <img src="../../assets/images/a.jpg" alt="The Pulpit Rock"> -->
          <!-- <p>CHATBOT</p> -->
          <!-- <figcaption>/chatbot</figcaption>
              </figure> -->
      
      
        </div>
        
    <app-footer class="footer"></app-footer>
</ion-content>
