.footer{
    position: fixed;
    bottom:0;
    height: 10%;
    z-index:999;
    background-color: #f4f4f4;
    width: 100%;
    overflow-x: scroll;
}
.icon{
    size:15px;
    color: red;
}

title{
    font-size: 10vw;
    margin-top:0;
    color:black;
    font-weight: bold;
}
