<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Events Details
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="height:90%; overflow: auto;">
    <img style="height:60vh; width:100%;" src="../../assets/images/a.jpg" class="img-margin" alt="The Pulpit Rock">
    <div padding>
      <h3 class="title">
        Dr. Dalen allen
      </h3>
      <ion-row>
        <ion-col size="1">
          <ion-icon name="calendar" class="icon"></ion-icon>
        </ion-col>
        <ion-col size="11">
          06 Jan, 2018
        </ion-col>
      </ion-row>
      <ion-row>
          <ion-col size="1">
            <ion-icon name="pin" outline class="icon"></ion-icon>
          </ion-col>
          <ion-col size="11">
              self-contained unit of a discourse in writing dealing          </ion-col>
        </ion-row>
      <h1 class="title">
        Dr. Dalen allen
      </h1>
      <p>
        A paragraph (from the Ancient Greek παράγραφος paragraphos, "to write beside" or "written beside") is a
        self-contained unit of a discourse in writing dealing with a particular point or idea. A paragraph consists of
        one or more sentences.
      </p>
      <h4>
        Images
      </h4>

      <ion-icon></ion-icon>
    </div>
  </div>
  <app-footer class="footer"></app-footer>
</ion-content>