.footer{
    position: fixed;
    bottom:0;
    height: 10%;
    z-index:999;
    background-color: #f4f4f4;
    width: 100%;
    overflow-x: scroll;
}

.sub-header-slide{
  padding:0;
  color: #fff;
  display: flex;
  justify-content: space-between;
  background: #60c6d3;
  align-items: center;
}


.sub-header-slide p{
  margin: 4px;
}

.slide-vertical{
  display: flex;
  flex-direction: column;
}

.grid-style{
}

.icon-left{
  font-size: 32px;
   color: rgb(250, 246, 246);
 }
 
 .icon-right{
    font-size: 32px;
     color: rgb(253, 252, 252);
 }

.midd{
    display: flex;
    align-items: center;
}

.item1 p{
padding: 0;
padding-left:5px; 
font-style: italic;
font-weight: bold;
font-size: 3.8vw;
}
.item2 p{
  margin-top:10px;
  padding: 0;
  padding-left:5px; 
  font-size: 3.8vw;  
}

.title h3{
  margin-bottom: -10px;
}
.text-wrap{
  text-align: left;
  font-size: 1em;
  color:#60c6d3;
  font-weight: bold;
  margin-top:5px;
}

.wrap-text {
  white-space: nowrap; 
  width:100%; 
  overflow: hidden;
  text-overflow: ellipsis; 
  font-size: 0.8em;
  margin: 15px 0px 10px 0px;
  text-align: left;
}


.item-img{
  width: 100% !important;
  background-image: url("../../assets/images/a.jpg");
  background-position: center; 
  z-index: 999;
}

.card-date{
  display:flex;
  // justify-content: center;
  align-items: center;
}

.padding-icon{
  padding-right: 5px !important;
}

.card-date p{
  font-size: 0.8em;
  font-weight: 400;
}
.text{
  font-size: 14px;
  text-align: justify;
  margin-top: -25px;
  padding: 5px;
}

.round{
  height: 60px !important;
  width: 80px !important;
}


.im{
  width: 100% !important;
  height: 200px !important;
}
.cover-img{
  width: 100% !important;
  height: 175px !important;
  padding: 0px;
   background-image: url("../../assets/images/a.jpg");
}
.card-justify{
  text-align: justify;
}

.top{
  margin-top: -20px;
}




