<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Header
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div style="height:90%; overflow:auto;">  
  <div class="sub-header-slide">
        <ion-icon (click)="previousSlide()" class="icon-left" name="md-arrow-dropleft"></ion-icon>
        <p>
          Slide
        </p>
        <ion-icon (click)="nextSlide()" class="icon-right" name="md-arrow-dropright"></ion-icon>
  </div>
  <div>
    <ion-slides #slider effect="fade" (ionSlideWillChange)="onSlideChanged()">
      <ion-slide class="slide-vertical">

        <img class="im" src="../../assets/images/a.jpg" />
        <ion-grid>
          <ion-row>
            <ion-col class="midd" size="6">
              <div>
                <ion-icon color="danger" name="radio"></ion-icon>
              </div>
              <div class="item1">
                <p>Admin</p>
              </div>
            </ion-col>
            <ion-col class="midd" size="6">
              <div>
                <ion-icon color="danger" name="alarm"></ion-icon>
              </div>
              <div class="item2">
                <p>14 Mar, 2018</p>
              </div>
            </ion-col>
          </ion-row>
          <ion-row>
            <div class="text">
              <p>Because I try on ion-card, row, grid, column so I don’t know where remove the padding</p>
            </div>
          </ion-row>
        </ion-grid>
        <ion-list style="">
          <ion-item style="--padding-start:0; margin: 0 1% 1% 1%">
            <ion-row>
              <ion-col size="8">
                <div class="title">
                  <h3 class="text-wrap">I don’t know where remove the padding sdsdsds swdsdd</h3>
                </div>
                <div>
                  <p class="wrap-text">https://stackoverflow.com/questions/43913303/set-an-image</p>
                </div>
                <div class="card-date">
                  <ion-icon class="padding-icon" ios="ios-alarm" md="md-alarm"></ion-icon>
                  <p>14 Mar, 2018 10:04:50</p>
                </div>
              </ion-col>
              <ion-col size="4" style="background-color:black;">
                <div class="item-img">

                </div>
              </ion-col>
            </ion-row>
          </ion-item>
          <ion-item style="--padding-start:0; margin: 0 1% 1% 1%">
            <ion-row>
              <ion-col size="8">
                <div class="title">
                  <h3 class="text-wrap">I don’t know where remove the padding sdsdsds swdsdd</h3>
                </div>
                <div>
                  <p class="wrap-text">https://stackoverflow.com/questions/43913303/set-an-image</p>
                </div>
                <div class="card-date">
                  <ion-icon class="padding-icon" ios="ios-alarm" md="md-alarm"></ion-icon>
                  <p>14 Mar, 2018 10:04:50</p>
                </div>
              </ion-col>
              <ion-col size="4" style="background-color:black;">
                <div class="item-img">

                </div>
              </ion-col>
            </ion-row>
          </ion-item>
          <ion-item style="--padding-start:0; margin: 0 1% 1% 1%">
            <ion-row>
              <ion-col size="8">
                <div class="title">
                  <h3 class="text-wrap">I don’t know where remove the padding sdsdsds swdsdd</h3>
                </div>
                <div>
                  <p class="wrap-text">https://stackoverflow.com/questions/43913303/set-an-image</p>
                </div>
                <div class="card-date">
                  <ion-icon class="padding-icon" ios="ios-alarm" md="md-alarm"></ion-icon>
                  <p>14 Mar, 2018 10:04:50</p>
                </div>
              </ion-col>
              <ion-col size="4" style="background-color:black;">
                <div class="item-img">

                </div>
              </ion-col>
            </ion-row>
          </ion-item>
        </ion-list>
      </ion-slide>
      <ion-slide class="slide-vertical">

        <img class="im" src="../../assets/images/a.jpg" />
        <ion-grid>
          <ion-row>
            <ion-col class="midd" size="6">
              <div>
                <ion-icon color="danger" name="radio"></ion-icon>
              </div>
              <div class="item1">
                <p>Admin</p>
              </div>
            </ion-col>
            <ion-col class="midd" size="6">
              <div>
                <ion-icon color="danger" name="alarm"></ion-icon>
              </div>
              <div class="item2">
                <p>14 Mar, 2018</p>
              </div>
            </ion-col>
          </ion-row>
          <ion-row>
            <div class="text">
              <p>Because I try on ion-card, row, grid, column so I don’t know where remove the padding</p>
            </div>
          </ion-row>
        </ion-grid>
        <ion-list style="">
          <ion-item style="--padding-start:0; margin: 0 1% 1% 1%">
            <ion-row>
              <ion-col size="8">
                <div class="title">
                  <h3 class="text-wrap">I don’t know where remove the padding sdsdsds swdsdd</h3>
                </div>
                <div>
                  <p class="wrap-text">https://stackoverflow.com/questions/43913303/set-an-image</p>
                </div>
                <div class="card-date">
                  <ion-icon class="padding-icon" ios="ios-alarm" md="md-alarm"></ion-icon>
                  <p>14 Mar, 2018 10:04:50</p>
                </div>
              </ion-col>
              <ion-col size="4" style="background-color:black;">
                <div class="item-img">

                </div>
              </ion-col>
            </ion-row>
          </ion-item>
          <ion-item style="--padding-start:0; margin: 0 1% 1% 1%">
            <ion-row>
              <ion-col size="8">
                <div class="title">
                  <h3 class="text-wrap">I don’t know where remove the padding sdsdsds swdsdd</h3>
                </div>
                <div>
                  <p class="wrap-text">https://stackoverflow.com/questions/43913303/set-an-image</p>
                </div>
                <div class="card-date">
                  <ion-icon class="padding-icon" ios="ios-alarm" md="md-alarm"></ion-icon>
                  <p>14 Mar, 2018 10:04:50</p>
                </div>
              </ion-col>
              <ion-col size="4" style="background-color:black;">
                <div class="item-img">

                </div>
              </ion-col>
            </ion-row>
          </ion-item>
          <ion-item style="--padding-start:0; margin: 0 1% 1% 1%">
            <ion-row>
              <ion-col size="8">
                <div class="title">
                  <h3 class="text-wrap">I don’t know where remove the padding sdsdsds swdsdd</h3>
                </div>
                <div>
                  <p class="wrap-text">https://stackoverflow.com/questions/43913303/set-an-image</p>
                </div>
                <div class="card-date">
                  <ion-icon class="padding-icon" ios="ios-alarm" md="md-alarm"></ion-icon>
                  <p>14 Mar, 2018 10:04:50</p>
                </div>
              </ion-col>
              <ion-col size="4" style="background-color:black;">
                <div class="item-img">

                </div>
              </ion-col>
            </ion-row>
          </ion-item>
        </ion-list>
      </ion-slide>
      <ion-slide class="slide-vertical">

        <img class="im" src="../../assets/images/a.jpg" />
        <ion-grid>
          <ion-row>
            <ion-col class="midd" size="6">
              <div>
                <ion-icon color="danger" name="radio"></ion-icon>
              </div>
              <div class="item1">
                <p>Admin</p>
              </div>
            </ion-col>
            <ion-col class="midd" size="6">
              <div>
                <ion-icon color="danger" name="alarm"></ion-icon>
              </div>
              <div class="item2">
                <p>14 Mar, 2018</p>
              </div>
            </ion-col>
          </ion-row>
          <ion-row>
            <div class="text">
              <p>Because I try on ion-card, row, grid, column so I don’t know where remove the padding</p>
            </div>
          </ion-row>
        </ion-grid>
        <ion-list style="">
          <ion-item style="--padding-start:0; margin: 0 1% 1% 1%">
            <ion-row>
              <ion-col size="8">
                <div class="title">
                  <h3 class="text-wrap">I don’t know where remove the padding sdsdsds swdsdd</h3>
                </div>
                <div>
                  <p class="wrap-text">https://stackoverflow.com/questions/43913303/set-an-image</p>
                </div>
                <div class="card-date">
                  <ion-icon class="padding-icon" ios="ios-alarm" md="md-alarm"></ion-icon>
                  <p>14 Mar, 2018 10:04:50</p>
                </div>
              </ion-col>
              <ion-col size="4" style="background-color:black;">
                <div class="item-img">

                </div>
              </ion-col>
            </ion-row>
          </ion-item>
          <ion-item style="--padding-start:0; margin: 0 1% 1% 1%">
            <ion-row>
              <ion-col size="8">
                <div class="title">
                  <h3 class="text-wrap">I don’t know where remove the padding sdsdsds swdsdd</h3>
                </div>
                <div>
                  <p class="wrap-text">https://stackoverflow.com/questions/43913303/set-an-image</p>
                </div>
                <div class="card-date">
                  <ion-icon class="padding-icon" ios="ios-alarm" md="md-alarm"></ion-icon>
                  <p>14 Mar, 2018 10:04:50</p>
                </div>
              </ion-col>
              <ion-col size="4" style="background-color:black;">
                <div class="item-img">

                </div>
              </ion-col>
            </ion-row>
          </ion-item>
          <ion-item style="--padding-start:0; margin: 0 1% 1% 1%">
            <ion-row>
              <ion-col size="8">
                <div class="title">
                  <h3 class="text-wrap">I don’t know where remove the padding sdsdsds swdsdd</h3>
                </div>
                <div>
                  <p class="wrap-text">https://stackoverflow.com/questions/43913303/set-an-image</p>
                </div>
                <div class="card-date">
                  <ion-icon class="padding-icon" ios="ios-alarm" md="md-alarm"></ion-icon>
                  <p>14 Mar, 2018 10:04:50</p>
                </div>
              </ion-col>
              <ion-col size="4" style="background-color:black;">
                <div class="item-img">

                </div>
              </ion-col>
            </ion-row>
          </ion-item>
        </ion-list>
      </ion-slide>
    </ion-slides>
  </div>
</div>

  <app-footer class="footer"></app-footer>
</ion-content>