<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="container">
    <h1 class="scheduler-title">BOOKING CONFIRMATION</h1>
    <h2 style="margin-top:1.5%; font-size:3vw; font-weight: normal; text-transform: uppercase; font-weight: 400;">
      please complete the payment
    </h2>
    <h2 style="font-size:3vw; font-weight: bold; margin-top:1.5%;">
      Booking Number 88
    </h2>
    <ion-row>
      <ion-col size="2">
        <ion-icon name="warning"></ion-icon>
      </ion-col>
      <ion-col size="10" style="font-size:3vw; font-weight: normal;">
        You need to change aljsflajf jaosjdlasd aojsdojad 
      </ion-col>
    </ion-row>
    <ion-button color="dark" expand="full" class="schedular-button" (click)="goToPage('schedular-Boo')">I'll PAY
      LATER</ion-button>
  </div>
</ion-content>