.container{
    padding: 7px !important;
}
.scheduler-title{
    font-weight: 800;
    text-align: start;
    font-size:4vw;
    margin-top:1%;
}
// .schedular-subtitle{
//     font-size:3.7vw;
//     font-weight: bolder;
//     text-align: start;
//     margin-top:1.5%;
// }
p{
    font-size: 4vw;
}

.schedular-button{
    margin-top: 8%;
}


