<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Your App Updates
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="list-container">
    <div class="list" (click)="goToPage('promotions/promotion-details');">
      <h2 class="title">
        Video updates
      </h2>
      <p class="notification-circle">2</p>
      <p class="content">
        Listen, I've had a pretty asd
      </p>
    </div>
    <div class="list" (click)="goToPage('promotion-details');">
      <h2 class="title">
        Video updates
      </h2>
      <p class="notification-circle">2</p>
      <p class="content">
        Listen, I've had a pretty asd
      </p>
    </div>
    <div class="list" (click)="goToPage('promotions-details');">
      <h2 class="title">
        Video updates
      </h2>
      <p class="notification-circle">2</p>
      <p class="content">
        Listen, I've had a pretty asd
      </p>
    </div>
  </div>
  <app-footer class="footer"></app-footer>
  <!-- <ion-tabs>
    <ion-tab label="Home" icon="home">
      <ion-content>
        <h1 (click)="print();">
          hello
        </h1> -->
        <!-- <app-sub-home></app-sub-home> -->
      <!-- </ion-content>
    </ion-tab>

    <ion-tab label="BMI Calculator" icon="help">
      <ion-content padding>
        <h1>Camera Content</h1>
      </ion-content>
    </ion-tab>

    <ion-tab label="Success Stories" icon="ribbon">
      <ion-content padding>
        <h1>Map Content</h1>
      </ion-content>
    </ion-tab>

    <ion-tab label="Clinical Profile" icon="thumbs-up">
      <ion-content padding>
        <h1>Camera Content</h1>
      </ion-content>
    </ion-tab>
  </ion-tabs> -->
</ion-content>