.footer{
    position: fixed;
    bottom:0;
    height: 10%;
    z-index:999;
    background-color: #f4f4f4;
    width: 100%;
    overflow-x: scroll;
}

ion-item{
    --padding-start: 0 !important;
    --inner-padding-end: 0 !important;
    --inner-border-width: 0 0 0px 0 !important;
    position: relative;
    padding-left: 3%; 
}

.list-container{
}

.list:nth-child(2n+1){
    background-color: #006eff;
    position:relative;
}
.list:nth-child(2n){
    position:relative;
    background-color: #f2f000;
}

.title{
    font-weight: bold;
    color: #f4f4f4;
    font-size: 15px;
    padding:16px 16px 5px 16px;
    margin:0;
}
.content{
    color: #f4f4f4;
    font-size: 30px;
    margin:0;
    padding:5px 16px 16px 16px;
}
.notification-circle{
    position:absolute;
    right:3vw;
    top: 1vw;
    height:3.5vh;
    width:6vw;
    color:#f4f4f4;
    background: red;
    border-radius:35%;
    text-align: center;
    vertical-align: middle;
    padding-top:0.5vh;
    font-size: 2vh;
}

