<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <h1 class="scheduler-title">BOOKING SUMMARY</h1>
    <h2 class="schedular-subtitle">
      Dear ayush
    </h2>
    <h3 style="margin-top:1.5%; font-size:3.7vw; font-weight: normal;">
      Here is the details of booking
    </h3>
    <section>
      <div class="section">
        <p> Date and time booked</p>
        <p> 2018-2-12/12:21:12 </p>
      </div>
      <div class="section">
        <p>
          Service Booked
        </p>
        <p>
          car washed(12$)
        </p>
      </div>
    </section>
    <div class="input-box">
      <p>
        Do you have any message for us?
      </p>
      <div class="form-item">
        <ion-input type="text" placeholder="leave a message"></ion-input>
      </div>
    </div>
    <div>
      <h1 style="font-size:3.5vw; font-weight: bold;">
        Terms & conditions
      </h1>
      <p style="font-size:3vw;">
        asd;asd;ad;a;sldka;ksdakdmasdmas.mca
      </p>
    </div>

    <ion-button color="dark" expand="full" class="schedular-button" (click)="goToPage('schedular-booking-confirmation')">Next Step</ion-button>
  </div>
</ion-content>