.container{
    padding: 7px !important;
}
.scheduler-title{
    font-weight: 800;
    text-align: start;
    font-size:4vw;
    margin-top:1%;
}
.schedular-subtitle{
    font-size:3.7vw;
    font-weight: bolder;
    text-align: start;
    margin-top:1.5%;
}
p{
    font-size: 4vw;
}

.schedular-button{
    margin-top: 8%;
}

.section{
    display:flex;
    direction: row;
    justify-content: space-between;
}
.section p{
    font-size: 3vw;
}
section{
    border-bottom: 1.5px solid #888888;
}
.form-item{
    border: 1px solid #cccccc;
    padding: 4% 2% 1% 3%;
}

.input-box p{
    font-size: 3vw;
    margin-top:4% !important;
}

ion-input {
    --placeholder-font-size: 3.5vw !important;
    font-size: 3.5vw !important;
}