<ion-content class="main-view">
  <div class="overlay" (click)="dismiss()">Close</div>
  <div class="modal_content">
    <ion-row>
      <ion-col>
        1231
      </ion-col>
      <ion-col>
        1231
      </ion-col>
    </ion-row>
  </div>
</ion-content>