<ion-app>
  <ion-split-pane>
    <ion-menu>
      <ion-content  style="background-color:rgb(0,0,0);">
        <ion-list style="">
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
            <ion-item [routerDirection]="'root'" [routerLink]="[p.url]" style="background: rgb(0,0,0);color:white; border-top:1px solid #f4f4f4;">
              <ion-icon slot="start" [name]="p.icon"></ion-icon>
              <ion-label>
                {{p.title}}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
</ion-app>
