<ion-header>
  <ion-toolbar>
    <ion-title>weight-loss-secrets-detail</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="height:90%; overflow:auto;">
    <div class="sub-header-slide">
      <ion-icon (click)="previousSlide()" class="icon-left" name="md-arrow-dropleft"></ion-icon>
      <p>
        Slide
      </p>
      <ion-icon (click)="nextSlide()" class="icon-right" name="md-arrow-dropright"></ion-icon>
    </div>
    <ion-slides #slider effect="fade" (ionSlideWillChange)="onSlideChanged()">
      <ion-slide>
        <ion-row class="events-list" (click)="goToPage('weight-loss-secrets-category-detail')">
          <ion-col size="3" class="image-container">
          </ion-col>
          <ion-col size="9">
            <h2>FINN REVEL Their #1 Weight loss Motivation Tip</h2>
            <ion-row>
              <ion-col size="1">
                <ion-icon name="clock" class="clock"></ion-icon>
              </ion-col>
              <ion-col class="date" size="11">
                <p> 2018-01-05 12:28:01</p>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
        <ion-row class="events-list" (click)="goToPage('events-details')">
          <ion-col size="3" class="image-container">
          </ion-col>
          <ion-col size="9">
            <h2>FINN REVEL Their #1 Weight loss Motivation Tip</h2>
            <ion-row>
              <ion-col size="1">
                <ion-icon name="clock" class="clock"></ion-icon>
              </ion-col>
              <ion-col class="date" size="11">
                <p> 2018-01-05 12:28:01</p>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
        <ion-row class="events-list" (click)="goToPage('events-details')">
          <ion-col size="3" class="image-container">
          </ion-col>
          <ion-col size="9">
            <h2>FINN REVEL Their #1 Weight loss Motivation Tip</h2>
            <ion-row>
              <ion-col size="1">
                <ion-icon name="clock" class="clock"></ion-icon>
              </ion-col>
              <ion-col class="date" size="11">
                <p> 2018-01-05 12:28:01</p>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-slide>
      <ion-slide>
        <ion-row class="events-list" (click)="goToPage('events-details')">
          <ion-col size="3" class="image-container">
          </ion-col>
          <ion-col size="9">
            <h2>FINN REVEL Their #1 Weight loss Motivation Tip</h2>
            <ion-row>
              <ion-col size="1">
                <ion-icon name="clock" class="clock"></ion-icon>
              </ion-col>
              <ion-col class="date" size="11">
                <p> 2018-01-05 12:28:01</p>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
        <ion-row class="events-list" (click)="goToPage('events-details')">
          <ion-col size="3" class="image-container">
          </ion-col>
          <ion-col size="9">
            <h2>FINN REVEL Their #1 Weight loss Motivation Tip</h2>
            <ion-row>
              <ion-col size="1">
                <ion-icon name="clock" class="clock"></ion-icon>
              </ion-col>
              <ion-col class="date" size="11">
                <p> 2018-01-05 12:28:01</p>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
        <ion-row class="events-list" (click)="goToPage('events-details')">
          <ion-col size="3" class="image-container">
          </ion-col>
          <ion-col size="9">
            <h2>FINN REVEL Their #1 Weight loss Motivation Tip</h2>
            <ion-row>
              <ion-col size="1">
                <ion-icon name="clock" class="clock"></ion-icon>
              </ion-col>
              <ion-col class="date" size="11">
                <p> 2018-01-05 12:28:01</p>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-slide>
    </ion-slides>
  </div>
  <app-footer class="footer"></app-footer>
</ion-content>