.footer{
    position: fixed;
    bottom:0;
    height: 10%;
    z-index:999;
    background-color: #f4f4f4;
    width: 100%;
    overflow-x: scroll;
}

.image-container{
  width:100%;
  background: url('../../assets/images/a.jpg');
  background-size: cover;
}

.subtitle{
  text-transform: uppercase;    
  color: #424242;
}

.events-list{
  margin:3px 0px 3px 0px;
  overflow:auto !important;
}

.events-list h2{
  margin-left:2vw;
  font-weight: 1000;
  font-size:4vw;
  text-align:start;
}
.clock{
  font-size:4.5vw !important; 
  margin-top:-0.2vw;
}
.date{
  text-align:start;
}
.date p{
  margin:0;
  font-size: 3.5vw;
}

.sub-header-slide{
  color: #fff;
  display: flex;
  justify-content: space-between;
  background: blue;
  align-items: center;
}
.sub-header-slide p{
  margin:8px;
}

.icon-left{
  font-size: 32px;
   color: rgb(250, 246, 246);
}
 
.icon-right{
    font-size: 32px;
    color: rgb(253, 252, 252);
}

.swiper-slide{
  display: block;
}