<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Photo Category
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <div class="list-item" (click)="goToPage('image-items');">
      <p> hello </p>
      <div class="gradient-background">
        
      </div>
    </div>
    <div class="list-item" (click)="goToPage('image-items');">
        <p> hello </p>
      </div>
      <div class="list-item" (click)="goToPage('image-items');">
          <p> hello </p>
        </div>
        <div class="list-item" (click)="goToPage('image-items');">
            <p> hello </p>
          </div>
  </div>
  <app-footer class="footer"></app-footer>
</ion-content>