.footer{
    position: fixed;
    bottom:0;
    height: 10%;
    z-index:999;
    background-color: #f4f4f4;
    width: 100%;
    overflow-x: scroll;
}
.list-item{
    color:#f1f1f1;
    text-align:center;
    margin: 2px;
    height:10vh;
    margin: 0;
    background-image: linear-gradient(to bottom, #f4f4f4, rgba(0,0,100,0.9));
}

.list-item p{
    font-size:4vh;
    font-weight: bold;
    padding-top:3vh;
    margin:0;
    z-index:999;
}
