<ion-header>
  <ion-toolbar>
    <ion-title>weight-loss-secrets-detail</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="height:90%; overflow:auto;">
    <div class="sub-header-slide">
      <ion-icon (click)="previousSlide()" class="icon-left" name="md-arrow-dropleft"></ion-icon>
      <p>
        Slide
      </p>
      <ion-icon (click)="nextSlide()" class="icon-right" name="md-arrow-dropright"></ion-icon>
    </div>
    <ion-slides #slider effect="fade" (ionSlideWillChange)="onSlideChanged()">
      <ion-slide>
        <div class="image-container">
          <div class="textOverlay">
            <h1>hello</h1>
          </div>
        </div>
        <div padding>
        <ion-row>
          <ion-col size="1">
            <ion-icon name="clock" color="danger" class="clock"></ion-icon>
          </ion-col>
          <ion-col class="date" size="11">
            <p> 2018-01-05 12:28:01</p>
          </ion-col>
        </ion-row>
        <p class="paragraph">
          asdjlasd ljalsd ajalsjlasd nanlsjdlas jxljalsdjlasdlkjalsnd asndlajsnldjalsjdla d,anbsdlnalsjdlansld aldnajsdlalknda s,dniwjpa, a,dpjadnal sd,ma ldjapjdl
        </p>
      </div>
      </ion-slide>
      <ion-slide>
          <div class="image-container">
              <div class="textOverlay">
                <h1>hello</h1>
              </div>
            </div>
    
            <div padding>
                <ion-row>
                  <ion-col size="1">
                    <ion-icon name="clock" color="danger" class="clock"></ion-icon>
                  </ion-col>
                  <ion-col class="date" size="11">
                    <p> 2018-01-05 12:28:01</p>
                  </ion-col>
                </ion-row>
                <p class="paragraph">
                  asdjlasd ljalsd ajalsjlasd nanlsjdlas jxljalsdjlasdlkjalsnd asndlajsnldjalsjdla d,anbsdlnalsjdlansld aldnajsdlalknda s,dniwjpa, a,dpjadnal sd,ma ldjapjdl
                </p>
              </div>
          </ion-slide>
    </ion-slides>

  </div>
  <app-footer class="footer"></app-footer>
</ion-content>