.footer{
    position: fixed;
    bottom:0;
    height: 10%;
    z-index:999;
    background-color: #f4f4f4;
    width: 100%;
    overflow-x: scroll;
}

.sub-header-slide{
  color: #fff;
  display: flex;
  justify-content: space-between;
  background: blue;
  align-items: center;
}

.sub-header-slide p{
  margin:8px;
}

.icon-left{
  font-size: 32px;
   color: rgb(250, 246, 246);
}
 
.icon-right{
    font-size: 32px;
    color: rgb(253, 252, 252);
}

.swiper-slide{
  display: block;
}

.clock{
    font-size:4.5vw !important; 
    margin-top:-0.2vw;
  }
  .date{
    text-align:start;
  }
  .date p{
    margin:0;
    font-size: 3.5vw;
  }

  .image-container {
    position:relative;
    height: 40vw;
    width: 100vw;
    padding:0;
    margin:0;
    background-color: yellow;
    
  }

  .textOverlay  {
      height: 100%;
      width: 100%;
      background-image: linear-gradient(to bottom, white, blue);
  }
  .textOverlay h1{
    position: absolute;
    width:100%;
    text-align: center; 
    bottom: 10px;
    font-weight: 1000;
    font-size:8vw;
    color: #f4f4f4;
  }
  .paragraph{
    text-align: start;
  }