<ion-content>
  <ion-button color="dark" class="close-icon" (click)="closeModal()">
    <ion-icon name="close"></ion-icon>
  </ion-button>
  <!-- <div class="video-center">
  <video width="100%" controls>
    <source src="assets/videos/Part_1.mp4" type="video/mp4">
  </video>
    </div> -->
  <div class="modal transparent fullscreen-player">
    <video class="centerme" controls="controls" autoplay>
      <source src="../../assets/images/test.mp4" type="video/mp4">
    </video>
  </div>
  <div>

  </div>

</ion-content>