.close-icon{
    position: absolute;
    margin-top: 2%;
    margin-left: 80%;
    z-index: 999;
    display: transparent;
    --padding-start: 0.5em;
    --padding-end:0.5em;
}
.close-icon ion-icon{
    color: white;
    width: 1.5em;
    height: 1.5em;
}
.video-center{
  display: flex;
  justify-content: center;
  align-items: center;
}

.centerme {
    margin: 0 auto;
    width: 100%;
    height:100%;
}
 
.fullscreen-player {
    max-width: 100%;
    // max-height: 100%;
    bottom: 0;
    left: 0;
    margin: auto;
    overflow: none;
    position: fixed;
    right: 0;
    top: 0;
}

