<ion-content style="overflow-y: scroll">
  <div class="title">
    <h1 style="margin-top:3%;">
      PHYSICIAN'S WEIGHT
    </h1>
    <h1>
      LOSS ~ BODY FAT
    </h1>
    <h1 style="margin-bottom: 3%;">
      CALCULATOR
    </h1>
  </div>
  <ion-list class="toggle-items">
    <ion-item>
      <ion-toggle [(ngModel)]="MALE" checked="true"></ion-toggle>
      <ion-label class="toggle-label">
        <p>MALE</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-toggle [(ngModel)]="FEMALE"></ion-toggle>
      <ion-label class="toggle-label">
        <p>FEMALE</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-toggle [(ngModel)]="IMPERIAL" checked="true"></ion-toggle>
      <ion-label class="toggle-label">
        <p>IMPERIAL</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-toggle [(ngModel)]="METRIC"></ion-toggle>
      <ion-label class="toggle-label">
        <p>METRIC</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <div class="select-method">
    <p class="select-method-inside">
      SELECT METHOD
    </p>
  </div>

  <div class="selector">
    <p class="selector-heading">
      YOUR TOOL
    </p>
    <ion-item class="fat-selector">
        <ion-select value="Body Fat Caliper">
          <ion-select-option value="Body Fat Caliper">Body Fat Caliper</ion-select-option>
          <ion-select-option value="without any tool">without any tool</ion-select-option>
          <ion-select-option value="PWC Waco">PWC Waco</ion-select-option>
        </ion-select>
      </ion-item>
  </div>
  <div class="selector">
      <p class="selector-heading">
        Method
      </p>
      <ion-item class="fat-selector">
          <ion-select value="Heritage BMI">
            <ion-select-option value="Heritage BMI">Heritage BMI</ion-select-option>
            <ion-select-option value="hell0">hell0</ion-select-option>
            <ion-select-option value="hello1">hello1</ion-select-option>
          </ion-select>
        </ion-item>
    </div>
</ion-content>