.title{
    overflow: hidden;
    text-align : center;
    background-color: #488aff;
    border-top: 1px solid #488aff;
    border-radius: 5px;
}
.title h1{
    font-size: 6vw;
    letter-spacing:0.5vw;
    font-weight: 1000;
    margin: 2%;
    color: #ffffffff;
}
ion-item{
    --inner-border-width: 0;
    --border-width: 0;
}
.toggle-items{
    margin-top:3%;
    margin-bottom:0;
}
.list-ios:not(.list-inset):not(.list-ios-lines-none) .item:last-child {
    --inner-border-width: 0;
    --border-width: 0;
}
ion-toggle {
    zoom: 0.7;
}
.toggle-label{
    margin-left: 5%;
}
.toggle-label p{
    font-size: 3vw;
}
.select-method{
    color: #888888;
    margin-bottom: 3%;
    width:94%;
    margin-left:3%; 
    border-bottom: 1px solid #888888;
}
.select-method-inside{
    margin-bottom: 2%;
    font-weight: bold;
}
.selector{
    margin-top : 6%;
}
.fat-selector{
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 10vw;
    --inner-border-width:0 !important;
    margin: 4% 3% 3% 3%;

}
.selector-heading{
    font-size: 3vw;
    font-weight: bold;
    color: #A9A9A9;
}