<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <h1 class="scheduler-title">BOOK AN APPOINTMENT</h1>
  <h2 class="schedular-subtitle">
    WHEN DO YOU WANT TO COME?
  </h2>
  <section>
    <ion-row class="checkbox">
      <ion-col size="1">
        <ion-checkbox class="checkbox-icon" color="danger"></ion-checkbox>
      </ion-col>
      <ion-col size="11">
        Car wash
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="1">

      </ion-col>
      <ion-col size="11">
        12$
      </ion-col>
    </ion-row>
  </section>
  <p style="font-size:4vw;">
asd;asd;ad;a;sldka;ksdakdmasdmas.mca
</p>
  <div>
    <h3 style="font-weight:bold; font-size:4vw;">
      Assistants:-
    </h3>
    <p style="font-size:4vw">
      Asha
    </p>
  </div>
  <ion-row>
    <ion-col size="3" style="font-size:4vw; padding:0;">
      SUBTOTAL
    </ion-col>
    <ion-col size="9" style="text-align:center; padding:0;">
      $12
    </ion-col>
  </ion-row>

  <ion-button color="dark" expand="full" class="schedular-button" (click)="goToPage('schedular-booking-summary')">Next Step</ion-button>

</ion-content>