.scheduler-title{
    font-weight: bold;
    text-align: center;
    font-size:7vw;
}
.schedular-subtitle{
    font-size:4vw;
    text-align: center;
}

.schedular-button{
    margin-top: 8%;
}

.checkbox-icon{
    --border-radius:50%;
}

.checkbox{
    margin-top: 4%;
}

