<ion-header>
  <ion-toolbar>
    <ion-title>scheduler</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1 class="scheduler-title">BOOK AN APPOINTMENT</h1>
  <h2 class="schedular-subtitle">
    WHEN DO YOU WANT TO COME?
  </h2>
  <ion-item class="select-shop">
    <ion-label>Select Shop</ion-label>
    <ion-select>
      <ion-select-option value="PWC ARLington">PWC ARLington</ion-select-option>
      <ion-select-option value="PWC Dallas">PWC Dallas</ion-select-option>
      <ion-select-option value="PWC Waco">PWC Waco</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-grid class="date-picker">
    <ion-row>
      <ion-col size="2" class="date-picker-icon-calender">
        <ion-icon name="calendar"></ion-icon>
      </ion-col>
      <ion-col size="8">
        <p text-center>{{Date}}</p>
      </ion-col>
      <ion-col size="2" class="date-picker-icon-arrow" (click)='getDate()'>
        <ion-icon name="arrow-down" ></ion-icon>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid class="clock-picker">
    <ion-row (click)="presentModal()">
      <ion-col size="2" class="clock-picker-icon">
        <ion-icon name="clock"></ion-icon>
      </ion-col>
      <ion-col size="10">
        <p>00:00:00</p>
      </ion-col>
    </ion-row>
  </ion-grid>

  <p>Please Select a valid data and shop to proceed</p>

  <ion-button color="primary" expand="full" class="schedular-button" (click)="goToPage('schedular-ctrl')">Next Step</ion-button>
  <app-footer class="footer"></app-footer>
  <!-- <ion-tabs>
      <ion-tab label="Home" icon="home">
          <ion-content>
           </ion-content>
        </ion-tab>
  
        <ion-tab label="BMI Calculator" icon="help">
          <ion-content padding>
            <h1>Camera Content</h1>
          </ion-content>
        </ion-tab>
  
        <ion-tab label="Success Stories" icon="ribbon">
          <ion-content padding>
            <h1>Map Content</h1>
          </ion-content>
        </ion-tab>
  
        <ion-tab label="Clinical Profile" icon="thumbs-up">
          <ion-content padding>
            <h1>Camera Content</h1>
          </ion-content>
        </ion-tab>
      </ion-tabs> -->
</ion-content>