.select-shop{
    border: 1px solid rgba(0,0,0,.2);
    --inner-border-width:0 !important;
    margin: 3%;
    margin-top: 5%;
}
.scheduler-title{
    font-weight: bold;
    text-align: center;
    font-size:7vw;
}
.schedular-subtitle{
    font-size:5vw;
    text-align: center;
}
.date-picker{
    margin: 3%;
    border: 1px solid grey;
    margin-top: 3%;
}
.date-picker-icon-calender ion-icon{
    margin: 10px;
    height: 2em !important;
    width: 2em !important;
}
.date-picker-icon-arrow ion-icon{
    margin: 16px;
    height: 1em !important;
    width: 1em !important;
}
.date-picker-calender{
    margin: 12px 0px 12px 0px;
   
}
.clock-picker{
    margin: 3%;
    border: 1px solid grey;
    margin-top: 4%;
}
.clock-picker-icon ion-icon{
    margin: 10px;
    height: 2em !important;
    width: 2em !important;
}
p{
    text-align: center;
    font-size: 4vw;
}
.schedular-button{
    width: 90%;
    margin-top: 8%;
    margin-left: 5%;
}
.footer{
    position: fixed;
    bottom:0;
    height: 10%;
    z-index:999;
    background-color: #f4f4f4;
    width: 100%;
    overflow-x: scroll;
}