.enter-button{
    position: absolute;
  top: 80%;
  text-align: center;
  width: 100%;
}

.slide{
  //  background-image: url("../../assets/images/a.jpg");
background-size: cover;
  background-position: center center;
}
.full-height {
  height: 100%;
}
.im1{
background-image: url("../../assets/images/a.jpg");
}
.im2{
background-image: url("../../assets/images/a.jpg");
}
.im3{
background-image: url("../../assets/images/a.jpg");
}
.im4{
background-image: url("../../assets/images/a.jpg");
}