<ion-content>
    <ion-slides pager style="height:100%;">
    
      <ion-slide class="im1">
  
      </ion-slide>
    
      <ion-slide class="im2" >
  
      </ion-slide>
    
      <ion-slide class="im3">
        <div class="slide full-height"></div>
      </ion-slide>
  
      <ion-slide  class="im4">
        <div class="enter-button">
          <ion-button class="button button-dark" (click)="goToPage('home')">Enter</ion-button>
        </div>
      </ion-slide>
    
    </ion-slides>
  
  </ion-content>
  