.flex-inline {
    display: flex;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: flex-start;
    height: 40%;
  }

  .image-container {
    position:relative;
    height: 50vw;
    width: 50vw;
    padding:0;
    margin:0;
    background-color: yellow;
    
  }

  .textOverlay  {
      height: 100%;
      width: 100%;
      background-image: linear-gradient(to bottom, white, blue);
  }
  .textOverlay h1{
    position: absolute;
    width:100%;
    text-align: center; 
    bottom: 10px;
    font-weight: 1000;
    font-size:8vw;
    color: #f4f4f4;
  }

//   .figure2 {
//     position:relative;
//     height: 50vw;
//     width: 50vw;
//     padding:0;
//     margin:0;
//     z-index:999;
//   }

//     .myOverlay{
//         width: 100%;
//         height: 60px;
//         position: absolute;
//         z-index: 99;
//         bottom: 0px;
//         background: rgba(0,0,128,0.5);
//         box-shadow: 0px 0px 50px 20px rgba(00,00,128,0.5);    
//         color: #fff;
//     }
  
//   figcaption{
//     position:absolute;
//     bottom: 8px;   
//     left:0;
//     right:0;
//     box-shadow: 0px 0px 50px 20px rgba(00,00,128,0.5);   
//     }
  
//   .figure2 h1{
//     // display:none !important;
//     font-size: 6vw;
//     font-weight: bold;
//     color:#ffffff;
//     text-align:center;
//     border-style:none !important;
//     border:0 !important;
//     box-shadow: none;
//     background: transparent;
//     background-color: rgba(00,00,128,0.5);
//     margin:0;
//     }

    img {
        height: 100%;
        width: 100%;
        opacity:0.6;
    }
      
  .footer{
      position: fixed;
      bottom:0;
      height: 10%;
      z-index:999;
      background-color: #f4f4f4;
      width: 100%;
      overflow-x: scroll;
  }
  