<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Header
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="height: 90%; overflow-y: auto">
    <div style="height:50%;">
      <ion-slides pager="true" style="height:70%;">
        <ion-slide>
          <ion-img src="../../assets/images/a.jpg"></ion-img>
        </ion-slide>

        <ion-slide>
          <ion-img src="../../assets/images/a.jpg"></ion-img>
        </ion-slide>

        <ion-slide>
          <ion-img src="../../assets/images/a.jpg"></ion-img>
        </ion-slide>
      </ion-slides>
      <ion-slides style="height:30%;">
        <ion-slide>
          <ion-img src="../../assets/images/a.jpg"></ion-img>
        </ion-slide>

        <ion-slide>
          <ion-img src="../../assets/images/a.jpg"></ion-img>
        </ion-slide>

        <ion-slide>
          <ion-img src="../../assets/images/a.jpg"></ion-img>
        </ion-slide>
      </ion-slides>
    </div>
    <div class=flex-inline>
      <div class="image-container">
         <div class="textOverlay">
           <h1>hello</h1></div>
      </div>
      <div class="image-container">
          <div class="textOverlay">
            <h1>hello</h1></div>
       </div>
       <div class="image-container">
          <div class="textOverlay">
            <h1>hello</h1></div>
       </div>
       <div class="image-container">
          <div class="textOverlay">
            <h1>hello</h1></div>
       </div>
       <div class="image-container">
          <div class="textOverlay">
            <h1>hello</h1></div>
       </div>

      <!-- <figure class="figure2">
        <img src="../../assets/images/a.jpg" alt="The Pulpit Rock"> -->
        <!-- <p>CHATBOT</p> -->
        <!-- <figcaption>/chatbot</figcaption>
      </figure> -->

     
    </div>

    <!-- <ion-tabs style="position: absolute;bottom:0;">
    <ion-tab label="Home" icon="home">
        <ion-content>
         <app-sub-home></app-sub-home>
        </ion-content>
      </ion-tab>

      <ion-tab label="BMI Calculator" icon="help">
        <ion-content padding>
          <h1>Camera Content</h1>
        </ion-content>
      </ion-tab>

      <ion-tab label="Success Stories" icon="ribbon">
        <ion-content padding>
          <h1>Map Content</h1>
        </ion-content>
      </ion-tab>

      <ion-tab label="Clinical Profile" icon="thumbs-up">
        <ion-content padding>
          <h1>Camera Content</h1>
        </ion-content>
      </ion-tab>
    </ion-tabs>  -->
  </div>
  <app-footer class="footer"></app-footer>
</ion-content>