.footer{
    position: fixed;
    bottom:0;
    height: 10%;
    z-index:999;
    background-color: #f4f4f4;
    width: 100%;
    overflow-x: scroll;
}

.image-container{
  height: 10vh;
  width: 20vw;
  margin-top: 15%;
  background: url('../../assets/images/a.jpg');
  background-size: cover;
}

.subtitle{
  text-transform: uppercase;    
  color: #424242;
}

ion-col{
  padding-top:0;
}

.events-list{
  align-items: flex-start;
  margin-top: 0px;
  border-bottom: 1px solid #C8C8C8;
}

.events-list h2{
  font-weight: 1000;
}
