<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Events
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row class="events-list" (click)="goToPage('events-details')">
    <ion-col size="3">
      <div class="image-container"></div>
    </ion-col>
    <ion-col size="9">
      <ion-label>
        <h2>FINN</h2>
        <p class="subtitle">Listen, I've had a pretty messed up day...</p>
        <ion-row>
          <ion-col size="1">
            <ion-icon name="calendar"></ion-icon>
          </ion-col>
          <ion-col size="11">
            <p> 14 Mar, 2018</p>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="1">
            <ion-icon name="clock"></ion-icon>
          </ion-col>
          <ion-col size="11">
            <p> 14 Mar, 2018</p>
          </ion-col>
        </ion-row>
      </ion-label>
    </ion-col>
  </ion-row>
  <ion-row class="events-list">
    <ion-col size="3">
      <div class="image-container"></div>
    </ion-col>
    <ion-col size="9">
      <ion-label>
        <h2>Finn</h2>
        <p class="subtitle">Listen, I've had a pretty messed up day...</p>
        <ion-row>
          <ion-col size="1">
            <ion-icon name="calendar"></ion-icon>
          </ion-col>
          <ion-col size="11">
            <p> 14 Mar, 2018</p>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="1">
            <ion-icon name="clock"></ion-icon>
          </ion-col>
          <ion-col size="11">
            <p> 14 Mar, 2018</p>
          </ion-col>
        </ion-row>
      </ion-label>
    </ion-col>
  </ion-row>
  <ion-row class="events-list">
    <ion-col size="3">
      <div class="image-container"></div>
    </ion-col>
    <ion-col size="9">
      <ion-label>
        <h2>Finn</h2>
        <p class="subtitle">Listen, I've had a pretty messed up day...</p>
        <ion-row>
          <ion-col size="1">
            <ion-icon name="calendar"></ion-icon>
          </ion-col>
          <ion-col size="11">
            <p> 14 Mar, 2018</p>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="1">
            <ion-icon name="clock"></ion-icon>
          </ion-col>
          <ion-col size="11">
            <p> 14 Mar, 2018</p>
          </ion-col>
        </ion-row>
      </ion-label>
    </ion-col>
  </ion-row>

  <app-footer class="footer"></app-footer>
</ion-content>